
.home{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}
.main-home{
width: 20rem;
padding: 1.5rem;
border-radius: 10px;
box-shadow: 0 0 10px rgb(212, 204, 204);
}
.graph{
  padding: 1.5rem;
border-radius: 10px;
box-shadow: 0 0 10px rgb(212, 204, 204);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
